.Contact-title {
  background: linear-gradient(to bottom, #ffffff18 25%, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
  position: relative;
  top: 70px;
  width: 125px;
  left: 710px;
  z-index: 5;
}
.Contact-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 30px;
  border-bottom: 3px solid #d3d3d3;
  transition: 0.7s;
}
.Contact-title:hover::before {
  left: 0;
  width: 120px;
}
.information {
  color: #ffffffc8;
  font-size: 1.7em;
  font-weight: 100;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  z-index: -6;
}
.Resume {
  position: relative;
  left: 230px;
  bottom: -200px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  padding: 10px;
  background: linear-gradient(to bottom, transparent 30%, #ffffff42);
  border-radius: 10px;
  transition: 1s;
  z-index: 1;
}
.Resume:hover {
  color: #000;
  background-color: #ffffff9d;
  z-index: 2;
}
.e-mail {
  cursor: pointer;
  color: #fff;
  font-size: 1.3em;
  left: 67%;
  top: 160px;
  bottom: 0;
  padding: 10px;
  width: fit-content;
  background: linear-gradient(to bottom, transparent 30%, #ffffff42);
  border-radius: 10px;
  transition: 1s;
  position: relative;
  z-index: 1000;
}
.e-mail:hover {
  color: #000;
  background-color: #ffffff9d;
  z-index: 1;
}

.neon-mist7 {
  position: relative;
  background-image: linear-gradient(
    to top,
    #ffffff3c,
    #ffffff29,
    #ffffff0f,
    transparent
  );
  bottom: -680%;
  width: 100%;
  height: 390px;
  z-index: -1;
}
@media (max-width: 1024px) {
}
/*md*/
@media (max-width: 768px) {
}
/*sm*/
@media (max-width: 475px) {
  .Contact-title {
    font-size: 1.6rem;
    left: 145px;
  }
  .Contact-title::before {
    left: 40px;
  }
  .Contact-title:hover::before {
    width: 105px;
  }
  .information {
    font-size: 1rem;
    padding-right: 40px;
    left: 10px;
    text-align: center;
  }
  .Resume {
    left: 31%;
    font-size: 0.9rem;
  }
  .e-mail {
    left: 23%;
    top: 230px;
    font-size: 0.9rem;
  }
}
