.neon-mist4 {
  overflow-x: hidden;
  position: relative;
  width: 300px;
  padding: 100px;
  top: -50px;
  left: 500px;
  filter: blur(250px);
  border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
  background-color: #ff9900;
  z-index: -1;
}
.Feats-title {
  background: linear-gradient(to top, #fd4c00, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
  position: relative;
  top: -100px;
  left: 720px;
  width: 90px;
  margin-bottom: 100px;
}
.Feats-page {
  z-index: 1;
  position: relative;
  left: 40px;
  top: -30px;
  margin-bottom: 150px;
}
.Feats-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 20px;
  border-bottom: 3px solid #ffc517;
  transition: 0.7s;
}
.Feats-title:hover::before {
  left: 0;
  width: 75px;
}
.Feats-Container {
  position: relative;
  top: -150px;
  display: flex;
  justify-content: space-evenly;
}
.Feats-Container .coding-container img {
  width: 400px;
  border-radius: 30px;
}
.coding-container {
  position: relative;
  overflow: hidden;
}
.presentation-container {
  position: relative;
  overflow: hidden;
}

.coding-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(33, 33, 33) 0%,
    rgba(0, 0, 0, 0.324) 95%
  );
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1; /* Ensure the gradient layer is behind the text */
}

.coding-container:hover::before {
  opacity: 1;
}

.text-area-coding {
  top: 120px;
  left: 200px;
  transform: translate(-50%, -50%);
  color: #eaeaea;
  position: absolute;
  width: 370px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.coding-container:hover .text-area-coding {
  opacity: 1;
}

.Feats-Container .presentation-container img {
  width: 400px;
  border-radius: 30px;
}

.presentation-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(35, 35, 35) 0%,
    rgba(0, 0, 0, 0.324) 95%
  );
  border-radius: 29px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.presentation-container:hover::before {
  opacity: 1;
}

.text-area-presentation {
  top: 260px;
  left: 200px;
  transform: translate(-50%, -50%);
  color: #eaeaea;
  position: absolute;
  width: 370px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}
.text-area-presentation h4 {
  position: relative;
  left: 15px;
}
.presentation-container:hover .text-area-presentation {
  opacity: 1;
}
@media (max-width: 1024px) {
}
/*md*/
@media (max-width: 768px) {
}
/*sm*/
@media (max-width: 475px) {
  .neon-mist4 {
    width: 200px;
    filter: blur(200px);
    left: 0;
  }
  .Feats-page {
    left: 20px;
  }
  .Feats-title {
    font-size: 1.7rem;
    left: 136px;
  }
  .Feats-Container {
    position: relative;
    top: -150px;
    display: flex;
    flex-direction: column;
  }
  .presentation-container {
    border-radius: 30px;
    width: 350px;
  }
  .coding-container {
    border-radius: 30px;
    width: 350px;
    margin-bottom: 50px;
  }
  .text-area-coding ul {
    position: relative;
    left: -10px;
    padding-right: 35px;
  }
  .text-area-presentation ul {
    position: relative;
    left: -10px;
    padding-right: 35px;
  }
}
